body {
    background-color: #CCC;
}

.selection {
    font-size: 2rem;
    cursor: pointer;
    transition: 100ms;
}

.selection:hover {
    transform: scale(1.2);
}

.results {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
    margin-top: 1rem;
}

.result-score {
    margin-left: .1rem;
    font-size: .5rem;
    color: #333;
}